/* 
 * base.css
 * common setting
*/

/* tag setting */
* {
	margin:0px;
	padding:0px;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	background:transparent;
	outline:none;
}

body{
	background-color:#ffffff;
	font-family:sans-serif;
	min-width:800px;
	-webkit-font-smoothing: antialiased;

	/* selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button{
	border-style:none;
	color:#fff;
	font-weight:bolder;
	font-size:22px;
}

div{
	border:none;
}

input{
	color:#fff;
	font-size:16px;
	font-family:sans-serif;
	font-weight:bold;
	text-align:left;
	border-radius:2px;
	border-width:2px;
	border-color:#72ca2a;
	border-style:solid;
	padding:5px 15px;
	background-color:#4d4d4d;

}

::-webkit-scrollbar{
	width:18px;
}

::-webkit-scrollbar-button{
	display:none;
}

::-webkit-scrollbar-corner{
	display:none;
}

::-webkit-scrollbar-thumb{
	background-color:#fff;
	/*
	border-top-style:none;
	border-right-style:solid;
	border-right-color:#000;
	border-left-style:solid;
	border-bottom-style:none;
	border-width:3px;
	border-radius:3px;
	border-color:#000;
	*/

	-moz-box-shadow:0 0px 4px 4px #000 inset;
	-webkit-box-shadow:0 0px 4px 4px #000 inset;
	box-shadow:0 0px 4px 4px #000 inset;

}

::-webkit-scrollbar-track{
	border-style:solid;
	border-radius:0px;
	border-color:transparent;
	background-color:#000;
}

/* classes */

/* header */
.header{
	background-color:#f4f2e9;
	padding-top:10px;
	color:#72ca2a;
	width:100%;
	min-width:800px;
	overflow:hidden;
	height:50px;
}

#logo{
	margin-left:20px;
	margin-top:0px;
	margin-bottom:10px;
	text-align:left;
	background-image:url("../image/hpcpf_logo.png");
	background-repeat:no-repeat;
	background-size: contain;
	float:left;
	width:185px;
	height:52px;
	vertical-align:middle;
}

#version{
	font-size:22px;
	font-weight:bolder;
	margin-top:28px;
	margin-left:-8px;
	vertical-align:bottom;
	text-align:left;
	background-repeat:no-repeat;
	float:left;
	width:100px;
	height:37px;
	line-height:37px;
}

/* tab */
.tab{
	text-align:center;
	width:800px;
	min-width:300px;
	height:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
	padding-top:0px;
	background-color:transparent;
	border:none;
}

/* title */
.title{
	color:#72ca2a;
	text-align:left;
	width:92%;
	height:50px;
	font-size:24px;
}

.text_title{
	font-family:sans-serif;
	font-size:20px;
	font-weight:600;
	margin-top:8px;
	margin-left:10px;
	padding-top:27px;
	padding-left:40px;
	background-image:url("../image/button_bg_menu_press.png");
	background-repeat:no-repeat;
	background-size: contain;
	width:224px;
	height:59px;
}

.text_recent{
	font-family:sans-serif;
	font-size:24px;
	color:#fff;
	text-align:left;
	margin-left:50px;
	margin-top:20px;
}

/* pane */
.pane_left{
	float:left;
	width:370px;
	text-align:right;
	padding-right:10px;
}

.pane_right{
	float:right;
	width:370px;
	text-align:left;
	padding-left:10px;
}

.pane_top{
	width:940px;
	margin:auto;
}

.pane_middle{
	width:940px;
	margin:auto;
}

.pane_grp{
	text-align:left;
}

.popup_center{
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 100px;
	left: 0;
	
	text-align:center;
	padding:0px;
	z-index:102;
	display:none;
	width:100%;
}

.popup_content{
	min-width: 600px;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	
	background-color:#4d4d4d;
	border:solid;
	border-radius:20px;
	border-width:12px;
	border-color:#72ca2a;
	box-shadow:8px 15px 26px #111111;
}

/* layout group */
.grp_floatleft{
	text-align:left;
	float:left;

}

.grp_floatclear{
	clear:both;
}

.grp_alignright{
	text-align:right;
	padding-right:41px;
}

.grp_alignleft{
	text-align:left;
}

.popup_background {
	min-height: 100%;
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color:#CCCCCC;
	opacity: 0;
}

.change_mode_area {
	position:absolute;
	top:170px;
	right:10px;
	z-index:20;
	margin:0px;
}

#confirm_area {
	min-height: 100%;
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color:#CCCCCC;
	opacity: 0.7;
	z-index:50;
}

#confirm_dialog {
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	margin-top:-100px;
	margin-left:-200px;
	position: fixed;
	visibility: hidden;
	background-color:#444444;
	z-index:60;
}

#exist_warning_dialog {
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	margin-top:-100px;
	margin-left:-200px;
	position: fixed;
	visibility: hidden;
	background-color:#444444;
	z-index:60;
}

#confirm_message {
	transform: translateY(50%);
	font-family:sans-serif;
	text-align:center;
	font-size:20px;
	color: #ffffff;
}

.confirm_button {
	margin-top:20px;
}


