/* 
 * base.css
 * common setting
*/
/* tag setting */
* {
	margin:0px;
	padding:0px;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	background:transparent;
	outline:none;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

::-webkit-input-placeholder{
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
}

body{
	background-color:#ffffff;
	min-width:800px;
	-webkit-font-smoothing: antialiased;

	/* selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	scrollbar-face-color      : #eee;
	scrollbar-arrow-color     : gray;
	scrollbar-track-color     : black;
	scrollbar-shadow-color    : gray;
	scrollbar-highlight-color : #aaa;
	scrollbar-3dlight-color   : #ccc;
	scrollbar-darkshadow-Color: #ccc;
}

button{
	border-style:none;
	color:#fff;
	font-weight:bolder;
	font-size:22px;
}

div{
	border:none;
}

input{
	color:#fff;
	font-size:16px;
	font-family:sans-serif;
	font-weight:bold;
	text-align:left;
	border-radius:2px;
	border-width:3px;
	border-color:#72ca2a;
	border-style:solid;
	padding:4px 10px;
	background-color:#4d4d4d;

}

::-webkit-scrollbar{
	width:18px;
}

::-webkit-scrollbar-button{
	display:none;
}

::-webkit-scrollbar-corner{
	display:none;
}

::-webkit-scrollbar-thumb{
	background-color:#fff;
	/*
	border-top-style:none;
	border-right-style:solid;
	border-right-color:#000;
	border-left-style:solid;
	border-bottom-style:none;
	border-width:3px;
	border-radius:3px;
	border-color:#000;
	*/

	-moz-box-shadow:0 0px 4px 4px #000 inset;
	-webkit-box-shadow:0 0px 4px 4px #000 inset;
	box-shadow:0 0px 4px 4px #000 inset;

}

::-webkit-scrollbar-track{
	border-style:solid;
	border-radius:0px;
	border-color:transparent;
	background-color:#000;
}

/* classes */

/* header */
.header{
	background-color:#f4f2e9;
	color:#72ca2a;
	width:100%;
	min-width:800px;
	overflow:hidden;
	height:67px;
}

#logo{
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:left;
	background-image:url("../image/hpcpf_logo.png");
	background-repeat:no-repeat;
	background-size: contain;
	float:left;
	width:185px;
	height:52px;
	vertical-align:middle;
}

#version{
	font-size:22px;
	font-weight:bolder;
	margin-top:28px;
	margin-left:-8px;
	vertical-align:bottom;
	text-align:left;
	background-repeat:no-repeat;
	float:left;
	width:100px;
	height:37px;
	line-height:37px;
}

/* tab */
.tab{
	text-align:center;
	width:800px;
	min-width:300px;
	height:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
	padding-top:0px;
	background-color:transparent;
	border:none;
}

.remotehost_tab{
	text-align:center;
	width:800px;
	min-width:300px;
	height:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	padding-top:0px;
	background-color:transparent;
	border:none;
}

/* title */
.title{
	position:relative;
	color:#72ca2a;
	text-align:left;
	font-size:24px;
	background-image:url("../image/button_bg_menu_press.png");
	background-repeat:no-repeat;
	background-size: contain;
	width:224px;
	height:59px;
	margin-left:0px;
	margin-top:8px;
	left:10px;
}

.text_title{
	position:relative;
	font-size:20px;
	font-weight:600;
	padding-left:40px;
	top:15px;
	margin:auto;
}

.text_recent{
	font-size:20px;
	color:#fff;
	text-align:left;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}

/* pane */
.pane_left{
	float:left;
	width:370px;
	text-align:right;
	padding-right:10px;
}

.pane_right{
	float:right;
	width:370px;
	text-align:left;
	padding-left:10px;
}

.pane_top{
	width:800px;
	min-width:800px;
	margin:auto;
}

.pane_middle{
	width:800px;
	min-width:800px;
	margin:auto;
}

.pane_grp{
	text-align:left;
}

.popup_center{
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 60px;
	left: 0;
	
	text-align:center;
	padding:0px;
	z-index:102;
	display:none;
	width:100%;
}

.popup_content{
	min-width: 600px;
	max-width:600px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	
	background-color:#4d4d4d;
	border:solid;
	border-radius:10px;
	border-width:6px;
	border-color:#72ca2a;
	box-shadow:8px 15px 26px #111111;
}

/* layout group */
.grp_floatleft{
	text-align:left;
	float:left;

}

.grp_floatclear{
	clear:both;
}

.grp_alignright{
	text-align:right;
	padding-right:41px;
}

.grp_alignleft{
	text-align:left;
}

.popup_background {
	min-height: 100%;
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color:#CCCCCC;
	opacity: 0;
}

.change_mode_area {
	position:absolute;
	top:170px;
	right:10px;
	margin:0px;
}

#confirm_area {
	min-height: 100%;
	min-width: 800px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color:#333333;
	opacity: 0.7;
	z-index:50;
}

.confirm_dialog {
	top: 50%;
	left: 50%;
	width: 295px;
	height: 116px;
	margin-top:-53px;
	margin-left:-145px;
	position: fixed;
	visibility: hidden;
	background:url("../image/button_bg_white.png");
	background-repeat:no-repeat;
	background-size: contain;
	
	z-index:60;
}

.confirm_message {
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-o-transform: translateY(50%);
	text-align:center;
	font-size:12px;
}

.confirm_project_message {
	padding-top:5px;
	padding-left:40px;
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-o-transform: translateY(50%);
	text-align:left;
	font-size:12px;
}

.confirm_project_button {
	position:absolute;
	left: 210px;
	top: 50px;
	width: 71px;
	height: 46px;
	background-image:url("../image/button_bg_action.png");
	background-repeat:no-repeat;
	background-size: contain;
	z-index:61;
}

.confirm_button {
	position:relative;
	left: 105px;
	top: 14px;
	width: 71px;
	height: 46px;
	background-image:url("../image/button_bg_action.png");
	background-repeat:no-repeat;
	background-size: contain;
	z-index:61;
}

.confirm_button:active {
	background-image:url("../image/button_bg_action_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}


.confirm_overwrite_message {
	position:relative;
	left:20px;
	transform: translateY(25%);
	-webkit-transform: translateY(25%);
	-ms-transform: translateY(25%);
	-moz-transform: translateY(25%);
	-o-transform: translateY(25%);
	text-align:left;
	font-size:12px;
}

.confirm_save_button {
	position:relative;
	left: 117px;
	top: 8px;
	width: 71px;
	height: 46px;
	background-image:url("../image/button_bg_action.png");
	background-repeat:no-repeat;
	background-size: contain;
	z-index:61;
}

.confirm_save_button:active {
	background-image:url("../image/button_bg_action_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}

.confirm_cancel_button {
	position:relative;
	left: 117px;
	top: 8px;
	width: 71px;
	height: 46px;
	background-image:url("../image/button_bg_action.png");
	background-repeat:no-repeat;
	background-size: contain;
	z-index:61;
}

.confirm_cancel_button:active {
	background-image:url("../image/button_bg_action_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}

.confirm_button_text {
	position: relative;
	right: 2px;
	bottom: 10px;
	font-size:12px;
}


