/* 
 * base.css
 * common setting
*/

/* tag setting */
* {
	margin:0px;
	padding:0px;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	background:transparent;
	outline:none;
}

body{
	background-color:#292929;
	font-family:sans-serif;
	min-width:800px;

	/* selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*           */
}

button{
	border-style:none;
	color:#fff;
	font-size:22px;
}

div{
	border:none;
}

input{
	color:#fff;
	font-size:16px;
	padding-left:10px;
	font-family:sans-serif;
	text-align:left;
	border-radius:2px;
	border-width:2px;
	border-color:#852414;
	border-style:solid;
	padding:5px 15px;
	background-color:rgba(20,20,20,1.0);

}

::-webkit-scrollbar{
	width:24px;
}

::-webkit-scrollbar-button{
	display:none;
}

::-webkit-scrollbar-corner{
	display:none;
}

::-webkit-scrollbar-thumb{
	background-color:#fff;
	/*
	border-top-style:none;
	border-right-style:solid;
	border-right-color:#000;
	border-left-style:solid;
	border-bottom-style:none;
	border-width:3px;
	border-radius:3px;
	border-color:#000;
	*/

	-moz-box-shadow:0 0px 4px 4px #852414 inset;
	-webkit-box-shadow:0 0px 4px 4px #852414 inset;
	box-shadow:0 0px 4px 4px #852414 inset;

}

::-webkit-scrollbar-track{
	border-style:solid;
	border-radius:0px;
	border-color:transparent;
	background-color:#852414;
}

/* classes */

/* header */
.header{
	background-color:#292929;
	padding-top:20px;
	color:#de2905;
	width:100%;
	min-width:1024px;
	overflow:hidden;
}

#logo{
	font-size:24px;
	margin-left:30px;
	padding-left:10px;
	vertical-align:middle;
	text-align:left;
	background-image:url("../image/header_bg_left.png");
	background-repeat:no-repeat;
	float:left;
	width:337px;
	height:37px;
}

#version{
	font-size:24px;
	margin-right:30px;
	padding-right:10px;
	vertical-align:middle;
	text-align:right;
	background-image:url("../image/header_bg_right.png");
	background-repeat:no-repeat;
	float:right;
	width:337px;
	height:37px;
}

/* tab */
.tab{
	text-align:center;
	width:1024px;
	min-width:700px;
	height:700px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	padding-top:0px;
	background-color:transparent;
	border:none;
}

/* title */
.title{
	color:#fff;
	text-align:left;
	width:92%;
	height:75px;
	font-size:24px;
}

.text_title{
	font-family:sans-serif;
	font-size:22px;
	margin-top:40px;
	margin-left:40px;
	padding-top:25px;
	padding-left:40px;
	background-image:url("../image/button_bg_menu_press.png");
	background-repeat:no-repeat;
	width:380px;
	height:65px;
}



/* pane */
.pane_left{
	float:left;
	width:470px;
	text-align:center;
	margin-right:10px;
	margin-left:auto;
	padding-left:30px;
}

.pane_right{
	margin-left:10px;
	margin-right:auto;
	padding-left:30px;
	float:right;
	width:470px;
	text-align:center;
	
}

.pane_top{
	width:940px;
	margin:auto;
}

.pane_middle{
	width:940px;
	margin:auto;
}



.pane_grp{
	text-align:left;
}

.popup_center{
	text-align:center;
	width:840px;
	height:590px;
	margin:auto;
	margin-left:8%;
	padding:0px;
	z-index:102;
	top:100px;
	position:fixed;
	background-color:#292929;
	border:solid;
	border-radius:20px;
	border-width:12px;
	border-color:#571700;
	box-shadow:8px 15px 26px #111111;
	display:none;
}

/* layout group */
.grp_floatleft{
	text-align:left;
	float:left;

}

.grp_alignright{
	text-align:right;
	padding-right:41px;
}

.grp_alignleft{
	text-align:left;
}





