/* button - home menu*/
#button_menus{
	padding-top:12px;
}

.button_menu{
	width:367px;
	height:98px;
	text-align:left;
	margin-bottom:20px;
	padding-left:25px;
	font-size:22px;
	background-image:url("../image/button_bg_menu.png");
	background-repeat:no-repeat;
}
.button_menu:active{
	background-image:url("../image/button_bg_menu_press.png");
	background-repeat:no-repeat;
}

.button_menu_bottom {
	width:200px;
	height:101px;
	margin-top:40px;
	margin-bottom:20px;
	margin-left:10px;
	text-align:center;
	background-image:url("../image/button_bg_action_menu.png");
	background-size: contain;
	background-repeat:no-repeat;
}
.button_menu_bottom:active{
	background-image:url("../image/button_bg_action_menu_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}

/* button - tool */
.button_tool{
	width:118px;
	height:103px;
	text-align:center;
	margin-top:10px;
	margin-right:5px;
	padding-top:0px;
	padding-left:2px;
	padding-right:10px;
	padding-bottom:0px;
	background-image:url("../image/button_bg_tool.png");
	background-repeat:no-repeat;

	-webkit-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.button_tool:active{
	background-image:url("../image/button_bg_tool_press.png");
}

/* button - editor - launchapp */
.button_editor_launchapp{
	width:165px;
	height:101px;
	text-align:center;
	margin-top:10px;
	padding-left:2px;
	padding-right:10px;
	margin-right:5px;
	background-image:url("../image/button_bg_action_green.png");
	font-size:18px;
	font-weight:600;
	-webkit-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.button_editor_launchapp:active{
	background-image:url("../image/button_bg_action_green_press.png");
}

/* button - open */
.button_open{
	width:165px;
	height:101px;
	margin-top:20px;
	margin-left:10px;
	text-align:center;
	background-image:url("../image/button_bg_action.png");
}

.button_open:active{
	background-image:url("../image/button_bg_action_press.png");
}

/* button - save */
.button_save{
	width:165px;
	height:101px;
	margin-top:20px;
	margin-left:10px;
	text-align:center;
	background-image:url("../image/button_bg_action.png");
}

.button_save:active{
	background-image:url("../image/button_bg_action_press.png");
}

/* button - cancel */
.button_cancel{
	width:165px;
	height:101px;
	margin-top:20px;
	margin-left:10px;
	text-align:center;
	background-image:url("../image/button_bg_action_cancel.png");
}

.button_cancel:active{
	background-image:url("../image/button_bg_action_cancel_press.png");
}

/* button - cancel */
#button_editmode{
	position:absolute;
	width:165px;
	height:101px;
	right:0px;
	top:40px;
	text-align:center;
	background-image:url("../image/button_bg_action_green.png");
	color:#fff;
	font-weight:bolder;
}

#button_editmode:active{
	background-image:url("../image/button_bg_action_green_press.png");
}

/* button - newdir */
#button_newdir {
	position:absolute;
	width:90px;
	height:60px;
	left:-5px;
	top:-50px;
	text-align:center;
	padding-bottom:15px;
	background-image:url("../image/button_bg_action.png");
	background-repeat:no-repeat;
	background-size: contain;
	color:#fff;
	font-weight:300;
	font-size:14px;
}

#button_newdir:active{
	background-image:url("../image/button_bg_action_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}

/* button - newfile */
#button_newfile{
	position:absolute;
	width:90px;
	height:60px;
	left:80px;
	top:-50px;
	text-align:center;
	padding-bottom:15px;
	background-image:url("../image/button_bg_action.png");
	background-repeat:no-repeat;
	background-size: contain;
	color:#fff;
	font-weight:300;
	font-size:14px;
}

#button_newfile:active{
	background-image:url("../image/button_bg_action_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}

/* button - rename */
#button_rename {
	position:absolute;
	width:90px;
	height:60px;
	left:165px;
	top:-50px;
	text-align:center;
	padding-bottom:15px;
	background-image:url("../image/button_bg_action.png");
	background-repeat:no-repeat;
	background-size: contain;
	color:#fff;
	font-weight:300;
	font-size:14px;
}

#button_rename:active{
	background-image:url("../image/button_bg_action_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}

/* button - delete */
#button_delete {
	position:absolute;
	width:90px;
	height:60px;
	left:250px;
	top:-50px;
	text-align:center;
	padding-bottom:15px;
	background-image:url("../image/button_bg_action.png");
	background-repeat:no-repeat;
	background-size: contain;
	color:#fff;
	font-weight:300;
	font-size:14px;
}

#button_delete:active{
	background-image:url("../image/button_bg_action_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}

<!--
/* button - delete */
.button_delete{
	background-image:url("");
	height:35px;
	margin-top:15px;
	background-color:#660000;
}

.button_delete:active{

}
-->

/* button - remotehost */
.button_remotehost{
	width:165px;
	height:100px;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:10px;
	text-align:center;
	background-image:url("../image/button_bg_action_upper.png");
	color:#fff;
	font-weight:bolder;
	font-size:16px;
}

.button_remotehost:active{
	background-image:url("../image/button_bg_action_upper_press.png");
}

/* button - home */
.button_home{
	width:165px;
	height:100px;
	margin-top:20px;
	margin-left:10px;
	text-align:center;
	background-image:url("../image/button_bg_action.png");
}

.button_home:active{
	background-image:url("../image/button_bg_action_press.png");
}

/* button - save */
.button_save{
	width:165px;
	height:100px;
	margin-top:20px;
	margin-right:0px;
	margin-left:0px;
	text-align:center;
	background-image:url("../image/button_bg_action.png");
}

.button_save:active{
	background-image:url("../image/button_bg_action_press.png");
}

/* button - output */
#button_output {
	width:173px;
	height:100px;
	position:absolute;
	top:-56px;
	right:0px;
	background-image:url("../image/button_bg_action_upper.png");
	font-size:18px;
	font-weight:600;
}

#button_output:active{
	background-image:url("../image/button_bg_action_upper_press.png");
}

/* button - change mode */
.button_change_mode {
	width:150px;
	height:80px;
	position:relative;
	top:-56px;
	background-image:url("../image/button_bg_action_upper.png");
	background-repeat:no-repeat;
	background-size: contain;
	font-size:16px;
	font-weight:300;
}

.button_change_mode:active{
	background-image:url("../image/button_bg_action_upper_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}

.button_change_mode:disabled{
	background-image:url("../image/button_bg_action_upper_press.png");
}

/* button - execute */
.button_execute {
	width:140px;
	height:70px;
	position:relative;
	top:-56px;
	background-image:url("../image/button_bg_action_play.png");
	font-size:18px;
	font-weight:600;
	background-repeat:no-repeat;
	background-size: contain;
	margin-left:auto;
	margin-right:auto;
}

.button_execute:active{
	background-image:url("../image/button_bg_action_play_press.png");
	background-repeat:no-repeat;
}

/* button - edit */
.button_edit {
	width:140px;
	height:70px;
	position:relative;
	top:-56px;
	background-image:url("../image/button_bg_action_edit.png");
	font-size:18px;
	font-weight:600;
	background-repeat:no-repeat;
	background-size: contain;
	margin-left:auto;
	margin-right:auto;
}

.button_edit:active{
	background-image:url("../image/button_bg_action_edit_press.png");
	background-repeat:no-repeat;
}

/* button - browse */
.button_browse {
	width:80px;
	height:auto;
	position:relative;
	top:0px;
	background-image:url("../image/button_rect.png");
	font-size:18px;
	font-weight:600;
	z-index:30;
}

.button_browse:active{
	background-image:url("../image/button_rect_press.png");
}

/* button - back */
.button_back {
	width:80px;
	height:50px;
	position:relative;
	top:0px;
	background-image:url("../image/button_rect.png");
	font-size:18px;
	font-weight:600;
}

.button_back:active{
	background-image:url("../image/button_rect_press.png");
}

/* button - new */
#button_new{
	width:100px;
	height:73px;
	position:relative;
	top:0px;
	left:0px;
	background-image:url("../image/button_bg_action_upper_new.png");
}

#button_new:active{
	background-image:url("../image/button_bg_action_upper_new_press.png");
}

/* bottom buttons in editor */
.button_editor{
	padding-bottom:28px;
	font-size:18px;
	font-weight:600;
}

#button_save_editor{
	width:165px;
	height:100px;
	position:absolute;
	left:180px;
	top:40px;

	text-align:center;
	background-image:url("../image/button_bg_action.png");
}

#button_save_editor:active{
	background-image:url("../image/button_bg_action_press.png");
}

/* button - stop */ 
#button_stop{
	width:165px;
	height:100px;
	position:absolute;
	left:360px;
	top:40px;
	text-align:center;
	background-image:url("../image/button_bg_action.png");
}

#button_stop:active{
	background-image:url("../image/button_bg_action_press.png");
}

/* button - run */
#button_run{
	width:165px;
	height:100px;
	position:absolute;
	left:0px;
	top:40px;
	text-align:center;
	background-image:url("../image/button_bg_action.png");
}

#button_run:active{
	background-image:url("../image/button_bg_action_press.png");
}

/* button - browsekey */
.button_browsekey{
	width:150px;
	height:38px;
	box-shadow:6px 6px 8px #111111;
	border-radius:3px;
	margin-left:0px;
	margin-top:28px;
	background-color:#72ca2a;
	font-family:sans-serif;
	font-size:16px;
	color:#fff;
	font-weight:bolder;

}

.button_browsekey:active{
	box-shadow:0px 0px;
}

/* button - add */
.button_add{
	width:165px;
	height:95px;
	margin-top:12px;
	margin-right:270px;
	background-image:url("../image/button_bg_add.png");
	background-repeat:no-repeat;
}

.button_add:active{
	background-image:url("../image/button_bg_add_press.png");
}

.text_button_menu{
	font-size:18px;
	font-weight:600;
	font-family:sans-serif;
	position:relative;
	top:-10px;
	left:18px;
	color:#72ca2a;
}

.text_button_menu_bottom {
	font-size:18px;
	font-weight:600;
	font-family:sans-serif;
	position:relative;
	top:-14px;
	left:0px;
	color:#4d4d4d;
}

.text_button_tool{
	font-size:18px;
	font-family:sans-serif;
	font-weight:600;
	position:relative;
	top:-14px;
	left:4px;
}

.text_button_launchapp{
	font-size:18px;
	font-family:sans-serif;
	font-weight:600;
	margin-right:18px;
	position:relative;
	top:-14px;
	left:6px;
}

.text_button_action{
	font-family:sans-serif;
	position:relative;
	font-size:18px;
	font-weight:600;
	color:#fff;
	top:-18px;
	left:-2px;
}

.text_button_right{
	font-family:sans-serif;
	margin-right:30px;
	text-align:right;
	font-size:20px;
}

.text_button_add{
	position:relative;
	font-family:sans-serif;
	font-weight:bolder;
	color:#fff;
	top:-14px;
	left:-4px;
}


