body {
	overflow: hidden;
}

.fadeIn {
	visibility: visible !important;
	opacity: 1 !important;
	-webkit-transition: visibility 0s linear 0s, opacity 0.5s linear;
	transition: visibility 0s linear 0s, opacity 0.5s linear;
}
.fadeOut {
	visibility: hidden !important;
	opacity: 0 !important;
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.project_title {
	position:relative;
	margin-top:30px;
	text-align:center;
	font-size:24px;
	font-family:sans-serif;
}

.execute_button_area {
	position:absolute;
	top:160px;
	height:10px;
	padding-left:400px;
	padding-right:auto;
	z-index:20;
	margin:0px;
}

td {
	text-align: left;
	vertical-align: top;
}
