#editor {
	margin: 0px;
	position:absolute;
	border-style:solid;
	border-radius:2px;
	border-width:3px;
	border-color:#72ca2a;
	
	top:290px;
	left:375px;
	right:10px;
	bottom:10px;
}

#separator {
	background-color:transparent;
	position:absolute;
	top:290px;
	left:368px;
	width:4px;
	bottom:10px;
	cursor: w-resize;
}

#imageArea {
	position:absolute;
	top:290px;
	left:375px;
	right:10px;
	bottom:10px;
	z-index:15;
	padding:auto;
	color: #f00;
	background-color: #8b8b8b;
	border-radius: 4px;
	text-align:center;
	overflow:scroll;
	visibility: hidden;
	opacity: 0;
}
#imageView {
	margin:auto;
}
#launchButtonArea {
	position:absolute;
	top:290px;
	left:375px;
	right:10px;
	bottom:10px;
	z-index:15;
	padding:auto;
	color: #f00;
	background-color: #8b8b8b;
	border-radius: 4px;
	text-align:center;
	overflow:scroll;
	visibility: hidden;
	opacity: 0;
}
#editorbar {
	position:absolute;
	left:10px;
	right:235px;
	top:194px;
	height:20px;
	margin-top:2px;
	padding:10px;
	font-size:16px;
	color:#fff;
	background-color:transparent;
}
#menubtn {
	position:absolute;
	/*top:970px;*/
	bottom:214px;
	left:240px;
	right:0px
}
.btnsize {
	  width:180px;
  }

#shownewfilearea {
	margin: 0px;
	position:absolute;
	left:10px;
	bottom:10px;
}
#newfileArea {
	position:absolute;
	left:10px;
	/*top:915px;*/
	bottom:175px;
	width:330px;
	height:80px;
	z-index:20;
	padding: 6px 6px 6px 6px;
	color: #fff;
	background-color:#72ca2a; 
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
}
.input-newfile{
	position:absolute;
	top:30px;
	width:200px;
	background-color:#4d4d4d;
	border-style:none;
	line-height:38px;
	border-radius:5px;
	color:#000;
}

#stderr {
	background-color:#bcbcbc;
	width:300px
}
#showoutputarea{
	position:absolute;
	top:170px;
	right:10px;
	z-index:20;
	margin:0px;
}
#outputArea {
	position:absolute;
	top:235px;
	right:10px;
	bottom:10px;
	z-index:20;
	margin:0px;
	visibility: hidden;
	opacity: 0;
	resize:both;

	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

#stdout{
	background-color:rgba(219, 219, 219, 0.8);
	position:absolute;
	top:0px;
	width:524px;
	right:0px;
	bottom:0px;
	margin:0px;
/*	height:500px;*/
	overflow:scroll;
}

