
.node_area {
	position:absolute;
	top:110px;
	left:315px;
	right:10px;
	bottom:10px;
	min-height:425px; /* + 175 = 600 */
	min-width:465px; /* + 315 + 20 = 800 */
	
	overflow:hidden;
	border:solid;
	border-radius:2px;
	border-width:3px;
	border-color:#000;
	background-color:rgba(49, 49, 49, 1.0);
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.node_edit_area {
	position:absolute;
	overflow:auto;
	float: left;
	margin-top:30px;
	width:100%;
	top:5px;
	right:0px;
	bottom:0px;
}

.node_project_title {
	margin-left:35px;
	text-align:left;
	font-size:16px;
	height:30px;
	color: white;
}

.node_project_title_text {
	color: white;
}

.nodePropertyTab
{
	background-color:rgba(80, 80, 80, 1.0);
	position:fixed;
	right: 10px;
	top: 115px;
	bottom: 10px;
	
	overflow:auto;
	z-index: 1;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nodeProperty {
	color : black;
	display: table;
	margin: 5px;
	/*min-width: 90%;*/
}

.nodeKey2 {
	text-align: left;
	left : 30px;
	position : relative;
}

.innerHr {
	width : 80%;
	right : 30px;
	position : absolute;
}

.nodeValue {
	color : lightgray;
	text-align: right;
}

.rightTab {
	font-size: 16px;
	margin: 5px;
	padding-left:3px;
	top : 160px;
	right : 0px;
	width: 80px;
	height : 20px;
	bottom: 0px;
	z-index: 2;
	background-color: rgba(80, 80, 80, 1.0);
	color: #b2b2b2;
	border: solid 1px;
	border-radius:1px;
	color : #ccc;
	display: none;
	
	-moz-transform-origin: 80% 50%;
	-webkit-transform-origin: 80% 50%;
	-o-transform-origin: 80% 50%;
	-ms-transform-origin: 80% 50%;
	transform-origin: 80% 50%;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.nodePropertyRow {
	display: table-row;
	background-color: #aeaeae;
}

.nodePropertyConst {
	display: table-cell;
	border: 1px solid #868686;
	background-color: #aeaeae;
	padding: 3px;
}

.nodePropertyName {
	display:table-cell;
	background-color: #ccc;
	border: 1px solid #868686;
	padding: 3px;
}

.nodePropertyTop
{
	background-color: #868686;
}

.nodeList {
	margin: 5px;
	background-color: rgba(80, 80, 80, 1.0);
}

.popupNodeList {
	margin: 5px;
	background-color: rgba(80, 80, 80, 1.0);
	width : 275px;
}

.menuButtonClass {
	font-size:20px;
	padding: 2px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.nodeAddButton {
	width: 71px;
	height: 46px;
	text-align: center;
	padding-bottom: 15px;
	background-image: url("../image/button_bg_action.png");
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
}

.nodeAddButton:active {
	background-image:url("../image/button_bg_action_press.png");
	background-repeat:no-repeat;
	background-size: contain;
}


.nodeFilterInput {
	border-color: white;
	border-width: 2px;
	width : 250px;
	background-color: #868686;
	color:black;
}

/* button - stop */ 
.button_stop {
	width:71px;
	height:46px;
	position:absolute;
	left:360px;
	top:40px;
	text-align:center;
	background-image:url("../image/button_bg_action.png");
}

.button_stop:active {
	background-image:url("../image/button_bg_action_press.png");
}

.selectNodeList {
	background-color: #868686;
	margin-top:5px;
}


/*
.project_title_log {
	position:relative;
	margin-top:30px;
	text-align:center;
	font-size:24px;
	color:white;
}

.exe_log {
	color: #eee;
	position:relative;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:30px;
	font-size:16px;
	font-family:sans-serif;
	user-select: auto;
	
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
*/