
.exe_area {
	position:absolute;
	top:175px;
	left:315px;
	right:10px;
	bottom:10px;
	min-height:425px; /* + 175 = 600 */
	min-width:485px; /* + 315 = 800 */
	
	/*
	position:relative;
	left: 10%;
	float: left;
	margin-top:30px;
	width:80%;
	min-width:800px;
	height:auto;
	min-height:800px;
	*/
	overflow:hidden;
	border:solid;
	border-radius:5px;
	border-width:5px;
	border-color:#000;
	background-color:#444;
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.project_title_log {
	position:relative;
	margin-top:30px;
	text-align:center;
	font-size:24px;
	font-family:sans-serif;
	color:white;
}

.exe_log_area {
	position:relative;
	overflow:hidden;
	left: 10%;
	float: left;
	margin-top:30px;
	width:80%;
	height:auto;
}

.exe_log {
	color: #eee;
	position:relative;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:30px;
	font-size:16px;
	font-family:sans-serif;
	user-select: auto;
	
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
