#editor {
	margin: 0px;
	position:absolute;
	border-style:solid;
	border-radius:2px;
	border-width:3px;
	border-color:#72ca2a;
	
	top:110px;
	left:315px;
	right:10px;
	bottom:10px;
	min-height:425px; /* + 175 = 600 */
	min-width:485px; /* + 315 = 800 */
	z-index:20;
}

#filelistArea {
	margin: 0px;
	position:absolute;
	/*
	overflow:scroll;
	*/
	border-style:solid;
	border-radius:2px;
	border-width:3px;
	border-color:#72ca2a;
	background-color:#4d4d4d;
	
	top:110px;
	left:10px;
	width:290px;
	bottom:10px;
	min-height:425px; /* + 175 = 600 */
}

#filelist_conainer {
	position:absolute;
	height: 600px;
}

#filelist {
	position:absolute;
	overflow:scroll;
	/*
	border-style:solid;
	border-radius:2px;
	border-width:3px;
	border-color:#72ca2a;
	
	top:290px;
	left:10px;
	bottom:10px;
	*/
	background-color:#4d4d4d;
	top:40px;
	width:290px;
	bottom: 50px;
}

#separator {
	background-color:transparent;
	position:absolute;
	top:110px;
	left:308px;
	width:4px;
	bottom:10px;
	min-height:490px; /* + 110 = 600 */
	height:80%;
	text-align: center;
	display: table;
}

.separator_image_container {
	background-color:transparent;
	vertical-align: middle;
	display: table-cell;
}

.separator_image {
	position:relative;
	background-color:transparent;
	left:0px;
	width:6px;
	height:105px;
	background:url("../image/separator.png");
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
	cursor: w-resize;
}


#imageArea {
	position:absolute;
	top:110px;
	left:315px;
	right:10px;
	bottom:10px;
	min-height:425px; /* + 175 = 600 */
	min-width:485px; /* + 315 = 800 */
	z-index:15;
	padding:auto;
	color: #f00;
	background-color: #8b8b8b;
	border-radius: 4px;
	text-align:center;
	overflow:scroll;
	visibility: hidden;
	opacity: 0;
}
#imageView {
	margin:auto;
}
#launchButtonArea {
	position:absolute;
	top:110px;
	left:315px;
	right:10px;
	bottom:10px;
	min-height:425px; /* + 175 = 600 */
	min-width:485px; /* + 315 = 800 */
	z-index:15;
	padding:auto;
	color: #f00;
	background-color: #8b8b8b;
	border-radius:2px;
	text-align:center;
	overflow:scroll;
	visibility: hidden;
	opacity: 0;
}
#editorbar {
	position:absolute;
	left:10px;
	right:235px;
	top:194px;
	height:20px;
	margin-top:2px;
	padding:10px;
	font-size:16px;
	color:#fff;
	background-color:transparent;
}
#menubtn {
	position:absolute;
	/*top:970px;*/
	bottom:214px;
	left:240px;
	right:0px
}
.btnsize {
	  width:180px;
  }

.shownewfilearea {
	margin: 0px;
	position:absolute;
	left:10px;
	bottom:10px;
}

.newNameArea {
	position:absolute;
	left:20px;
	bottom:80px;
	width:290px;
	height:80px;
	z-index:20;
	padding: 6px 6px 6px 6px;
	color: #fff;
	background-color:#72ca2a; 
	border-radius: 2px;
	visibility: hidden;
	opacity: 0;
}

.inputNewNameBox {
	position:absolute;
	top:30px;
	width:200px;
	background-color:#4d4d4d;
	border-style:none;
	line-height:38px;
	border-radius:2px;
	color:#000;
}

#showoutputarea{
	position:absolute;
	top:170px;
	right:10px;
	z-index:20;
	margin:0px;
}
#outputArea {
	position:absolute;
	top:235px;
	right:10px;
	bottom:10px;
	z-index:20;
	margin:0px;
	visibility: hidden;
	opacity: 0;
	resize:both;

	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.newdirectory_new {
	padding-left:5px;
}

.newdirectory_dir {
	padding-left:11px;
}

.newfilearea_label {
	padding-left:15px;
}

/*
#stderr {
	background-color:#bcbcbc;
	width:300px
}
#stdout{
	background-color:rgba(219, 219, 219, 0.8);
	position:absolute;
	top:0px;
	width:524px;
	right:0px;
	bottom:0px;
	margin:0px;
	overflow:scroll;
}
*/

