.info_area {
	position:absolute;
	top:110px;
	left:315px;
	right:10px;
	bottom:10px;
	min-height:425px; /* + 175 = 600 */
	min-width:485px; /* + 315 = 800 */
	
	overflow:hidden;
	border:solid;
	border-radius:2px;
	border-color:#72ca2a;
	background-color:#f4f2e9;
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.info_text_area {
	position:relative;
	width: 80%;
	margin-top:30px;
	height:auto;
}

.info_back_button_area {
	position:relative;
	overflow:hidden;
	float: left;
	width:80%;
	height:auto;
	display:none;
}

.info_title {
	position:relative;
	margin-left:50px;
	margin-bottom:20px;
	font-size:18px;
	font-family:sans-serif;
}

.info_text {
	position:relative;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:20px;
	font-size:16px;
	font-family:sans-serif;
}

.info_table_area {
	position: absolute;
	width: 100%;
}

a.info_link:link {
	color: #000;
	text-decoration: underline;
}
a.info_link:visited {
	color: #000;
	text-decoration: underline;
}
a.info_link:active {
	color: #000;
}
a.info_link:hover {
	color: #AAA;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	margin:auto;
	table-layout: fixed;
	width: 100%;
}

td.info_title  {
	border-color : #000000;
	border-width : 1px;
	border-style : solid;
	padding : 2px;
	width: 300px;
}
td.info_text {
	border-color : #000000;
	border-width : 1px;
	border-style : solid;
	padding : 2px;
	width: 2048px;
}