.pane_left_editor{
	width:340px;
	padding-left:40px;
	margin:auto;
}

.filebrowser_editor{
	width:330px;
	min-width:330px;
	height:550px;
}

.pane_right_editor{
	width:600px;
}

.editor{
	color:#fff;
	font-size:18px;
	width:550px;
	min-width:550px;
	height:530px;
	background-color:rgba(26,26,26,0.6);
	vertical-align:top;
	text-align:left;
	padding:10px 10px;
	border-style:solid;
	border-width:3px;
	border-radius:3px;
	border-color:#852414;

}


