.input_info{
	text-align:left;
	font-size:16px;
	padding-left:10px;
	margin-right:30px;
}

.text_label{
	color:#fff;
	font-size:16px;
	margin-bottom:5px;
}

#input_hostname{
	width:200px;
}

#input_id{
	width:100px;
}

#input_password{
	width:100px;
}

#input_key{
	width:100px;
}

/* host browser */
.hostbrowser{
	margin:auto;
	margin-left:45px;
	margin-top:10px;
	border:solid;
	border-radius:20px;
	border-width:12px;
	border-color:#852414;
	background-color:rgba(26,26,26,0.6);
	width:520px;
	min-width:500px;
	height:300px;
	overflow:auto;
}

.hostitem{
	border:solid;
	border-width:2px;
	border-radius:5px;
	border-color:transparent;
	height:70px;
	padding-top:auto;
	padding-bottom:auto;
}

.hostlabel{
	line-height:70px;
	text-align:left;
	font-size:18px;
	color:#fff;
	vertical-align:baseline;
	padding-left:10px;
	float:left;
	width:330px;
	margin-left:10px;
	margin-bottom:auto;
	height:65px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.buttons_remotehost{
	text-align:center;
	width:410px;
	margin-left:460px;
	margin-top:200px;
}

.connecttest{
	border-radius:3px;
	/*background-color: #f2ca21;*/
	margin-top:auto;
	margin-bottom:auto;
	margin-right:0px;
	width:95px;
	height:65px;
	z-index:100;
	float:right;
	background-image:url("../image/button_connect_test.png");
}

.connecttest:active{
	background-image:url("../image/button_connect_test_press.png");
}
.connecttest_ok{
	/*background-color: #0F0;*/
	background-image:url("../image/button_connect_ok.png");
}
.connecttest_ok:active{
	background-image:url("../image/button_connect_ok_press.png");
}

.connecttest_fail{
	/*background-color: #F00;*/
	background-image:url("../image/button_connect_fail.png");
}
.connecttest_fail:active{
	background-image:url("../image/button_connect_fail_press.png");
}


